<div class="toolbar" role="banner">
    <a routerLink="/"><img
    width="160"
      alt="SpaceX Logo"
      src="../../assets/spacexlogo.png"
    /> 
    </a> 
    <span class="cntr"> 
        <h5> Welcome to the SpaceX World</h5>
        <a routerLink="/news"> <button class="hbtn"> News </button> </a>
        <a routerLink="/launches"> <button class="hbtn"> Launches </button> </a>
    </span> 
      <div class="spacer"></div>
      <a aria-label="SpaceX on Twitter" target="_blank" rel="noopener" href="https://twitter.com/SpaceX" title="SpaceX on Twitter">
       <img width="40vh" alt="SpaceX on Twitter" src="../../assets/twitterlogo.png"/>
      </a>
      <a aria-label="SpaceX on Instagram" target="_blank" rel="noopener" href="https://www.instagram.com/spacex/" title="SpaceX on Instagram">
        <img width="40vh" alt="SpaceX on Instagram" src="../../assets/instalogo1.png"/>
       </a>
</div>
