<div class="main">
    <div class="row">
      <div class="col-md-4" style="text-align:center"><strong> Map Legend </strong></div>
      <div class="col-md-1 successsquare"> </div> 
      <div class="col-md-3"> = Mission Success </div> 
      <div class="col-md-1 failsquare"> </div> 
      <div class="col-md-3"> = Mission Fail </div>
    </div>
    <div class="super">
    <div *ngFor="let launch of launches" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 *ngIf="launch.launch_success; else elseBlock"> <span class="success card-title ">Launch {{launch.flight_number}}</span></h5>
          <ng-template #elseBlock ><h5 class="fail card-title"> Launch {{launch.flight_number}} </h5></ng-template>
          <h6 class="card-subtitle mb-2 text-muted">{{launch.mission_name}} </h6>
          <p class="card-text"><strong> Launch Year: </strong>{{launch.launch_year}}</p>
          <p class="card-text"><strong> Rocket Name: </strong>{{launch.rocket.rocket_name}}</p>
          <p class="card-text"><strong> Site Name: </strong>{{launch.launch_site.site_name_long}} </p>
          <!-- <p class="card-text">Launch Success: {{launch.launch_success}}</p> -->
          <p class="card-text">{{launch.details}}</p>
          <a href={{launch.links.video_link}} class="card-link">Youtube Video Link</a>
        </div>
      </div>
    </div>
</div>
